.about {
  margin-top: 5rem;
  max-width: 100rem;
  width: 100%;
  margin-inline: auto;
}

.text {
  color: white;
  text-align: center;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  5rem;
  gap: 3rem;
}
.img {
  width: 20rem;
  height: 15rem;
}
.about-text {
  width: 100%;
  h2 {
    font-size: 2rem;
    color: aqua;
  }
  p {
    color: #d9d9d9;
  }
  code {
    color: #008080;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin-top: 2rem;
    gap: 1rem;
  }
  .profile_pic {
    width: 100%;
    padding-inline: 0;
    /* height: 20rem; */
  }
  .img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
    object-position: center;
    height: 100%;
  }
  .about-text {
    width: 100%;
    padding: 2rem;
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
