.resume-container {
  margin-top: 5rem;
  display: grid;
  place-content: center;
}
.resume-img {
  margin-top: 5rem;
  width: 55rem;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 3rem;
}
.resumes {
  margin-inline: auto;
  display: grid;
  place-items: center;
}
.resumes a {
  border: 1px solid aqua;
  padding: 1rem 2rem;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  color: #f7fafc;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.resumes a:hover {
  background-color: aqua;
  color: #121212;
}

@media (max-width: 768px) {
  .resume-img {
    width: 100%;
  }
}
