.resume-container {
  margin-top: 5rem;
  display: grid;
  place-content: center;
  p {
    width: 80%;
    margin-inline: auto;
    font-size: 20px;
  }
}
.resume-content {
  max-width: 60rem;
  width: 100%;
  margin-inline: auto;
}
.resume-img {
  margin-top: 2rem;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 3rem;
}
.resumes {
  margin-inline: auto;
  display: grid;
  place-items: center;
}
.resumes a {
  border: 1px solid #fbbf24;
  padding: 1rem 2rem;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  color: #f7fafc;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.resumes a:hover {
  background-color: #fbbf24;
  color:#1f2937;
}

@media (max-width: 768px) {
  .resume-img {
    width: 100%;
  }
}
