.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
}

.skills-card {
  margin-top: 5rem;
  background-color: #008080;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skills-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.skills-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.skills-card p {
  font-size: 1rem;
  /* color: #666; */
  color: #fff;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .text {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .skills-content {
    flex-direction: column;
    padding: 0;
    margin-top: 2rem;
  }
  .skills-card {
    width: 300px;
    margin-top: 1rem;
  }
}
